/* Heart beat animation */
@keyframes beat{
	to { transform: scale(2.4);
  }
}


/* div id counter */

div#counter {
  font-weight: normal;
  letter-spacing:5px;
padding: 200px 0;
	font-size: 1.8em;
  font-family: 'Gill Sans';
  width: 100%;
  text-align: center;
  height: auto;
  color: #333;
  display:block;
  margin:0px auto;
  vertical-align:middle;
	animation: beat 1s infinite alternate;
	transform-origin: center;
}


/* color movement body */
body {
  -webkit-animation: color-fade 60s infinite;
  -moz-animation: color-fade 60s infinite;
  animation: color-fade 60s infinite;
}

@-webkit-keyframes color-fade {
  0% { background: #9a5342; }
  25% { background: #fffc0c; }
  50% { background: #e46d00; }
  75% { background: #ff3506; }
  100% { background: #9a5342; }
}

@-moz-keyframes color-fade {
  0% { background: #9a5342; }
  25% { background: #fffc0c; }
  50% { background: #e46d00; }
  75% { background: #ff3506; }
  100% { background: #9a5342; }
}

@keyframes color-fade {
  0% { background: #9a5342; }
  25% { background: #fffc0c; }
  50% { background: #e46d00; }
  75% { background: #ff3506; }
  100% { background: #9a5342; }
}



