.counter {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  color: #1663e0;
-webkit-animation: text-fade 30s infinite;
  -moz-animation: text-fade 30s infinite;
  animation: text-fade 30s infinite;

  }

/*
for text only, not div
  -webkit-animation: color-fade 30s infinite;
  -moz-animation: color-fade 30s infinite;
  animation: color-fade 30s infinite;
*/

.counterfloat {
  position: auto;
  width: auto;
  top: auto;
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  color: #ffffff;
}




/* color movement body aka color-fade */
body {
  -webkit-animation: color-fade 60s infinite;
  -moz-animation: color-fade 60s infinite;
  animation: color-fade 60s infinite;
}

@-webkit-keyframes color-fade {
  0% { background: #ce3749; }
  25% { background: #cc4153; }
  50% { background: #99417a; }
  75% { background: #932433; }
  100% { background: #ce3749; }
}

@-moz-keyframes color-fade {
   0% { background: #ce3749; }
  25% { background: #cc4153; }
  50% { background: #99417a; }
  75% { background: #932433; }
  100% { background: #ce3749; }
}

@keyframes color-fade {
   0% { background: #ce3749; }
  25% { background: #cc4153; }
  50% { background: #99417a; }
  75% { background: #932433; }
  100% { background: #ce3749; }
}

/* Heart beat animation */
@keyframes text-fade{
	to { transform: scale(2.4);
  }
}



/* text-fade style */
@keyframes text-fade {
   0% { color: #1663e0; }
  25% { color: #ffffff; }
  50% { color: #1663e0; }
  75% { color: #ffffff; }
  100% { color: #ce3749; }
}
