.counter {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-family: sans-serif;
  font-size: 80px;
  color: #1663e0;
-webkit-animation: text-fade 30s infinite;
  -moz-animation: text-fade 30s infinite;
  animation: text-fade 30s infinite;
  animation: counter-beat 1s infinite alternate;


  }

/*
for text only, not div
  -webkit-animation: color-fade 30s infinite;
  -moz-animation: color-fade 30s infinite;
  animation: color-fade 30s infinite;
*/

.counterfloat {
  position: auto;
  top: auto;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  color: #8e1c25;
  float: left;
  width: 200px;
  animation: counter-beat 2s infinite alternate;  
}




/* color movement body aka color-fade */
body {
  -webkit-animation: color-fade 60s infinite;
  -moz-animation: color-fade 60s infinite;
  animation: color-fade 60s infinite;
}

@-webkit-keyframes color-fade {
  0% { background: #ce3749; }
  25% { background: #cc4153; }
  50% { background: #99417a; }
  75% { background: #932433; }
  100% { background: #ce3749; }
}

@-moz-keyframes color-fade {
   0% { background: #ce3749; }
  25% { background: #cc4153; }
  50% { background: #99417a; }
  75% { background: #932433; }
  100% { background: #ce3749; }
}

@keyframes color-fade {
   0% { background: #d8434f; }
 
  50% { background: #8e1c25; }
 
  100% { background: #d8434f; }
}


/* Heart beat animation */
@keyframes counter-beat{
	to { transform: scale(0.25);
  }
}



/* text-fade style */
@keyframes letter-fade {
   0% { color: #1663e0; }
  25% { color: #ffffff; }
  50% { color: #1663e0; }
  75% { color: #ffffff; }
  100% { color: #ce3749; }
}
