.counterfloataltblack {
  opacity: 0.7;
  text-align: center;
  font-family: "palatino", serif;
  font-size: 100px;
  font-weight: 300;
  letter-spacing: -20px;
  color: #000000;
  float: left;
  margin-right: -50px;
  margin-left: -50px;
  margin-top: 50px;
  margin-bottom: 0px;
  width: 200px;
 /* animation: counterfloatalt 4s infinite alternate; 
  animation-delay: 3s; */
}

.counterfloat {
  text-align: center;
  font-family: "palatino", serif;
  font-size: 100px;
  font-weight: 600;
  letter-spacing: -20px;
  color: #8e1c25;
  float: left;
  margin-right: -50px;
  margin-left: -50px;
  margin-top: -80px;
  margin-bottom: 0px;
  width: 200px;
  /* animation: counter-beat 4s infinite alternate;  */
}

.counterfloatalt {
  opacity: 0.7;
  text-align: center;
  font-family: "palatino", serif;
  font-size: 100px;
  font-weight: 300;
  letter-spacing: -20px;
  color: #b7cace;
  float: left;
  margin-right: -50px;
  margin-left: -50px;
  margin-top: -70px;
  margin-bottom: 0px;
  width: 200px;
 /* animation: counterfloatalt 4s infinite alternate; 
  animation-delay: 3s; */
}



.blackcounter {
  position: fixed;
  width: 500px;
  height: 100px;
  z-index: 1;
  background-color: #000000;
  color: #ffffff;
  font-family: "palatino", serif;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
}

/* wrapper for divs */
.toptobottom {
    width: 100%;
    position: relative;
   /* animation: toptobottom 60s infinite; */
}

/* div for colour bands */
.band1 {
    width: 100%;
    height: 200px;
    position: relative;
    background-color: #3e78d6;
    margin-top: -50px;
    animation: counter-beat 4s infinite alternate;
}

.band2 {
    width: 100%;
    height: 200px;
    position: relative;
    background-color: #53e0d2;
    margin-top: -50px;
    opacity: 0.7;
    animation: counter-beat 4s infinite alternate;
    animation-delay: 2s;
}


.counterband1 {
    width: 100%;
    height: 200px;
    position: relative;
    background-color: #000000;
    color: #ffffff;
    margin-top: px;
    text-align: center;
    font-family: "palatino", serif;
    font-size: 100px;
    font-weight: 300;
}

@keyframes toptobottom {
  0% { top: -600px; }

  100% { top: 600px;}
}



/* color movement body aka color-fade */
body {
  -webkit-animation: color-fade 60s infinite;
  -moz-animation: color-fade 60s infinite;
  animation: color-fade 3s infinite;
}

@-webkit-keyframes color-fade {
  0% { background: #ce3749; }
  25% { background: #cc4153; }
  50% { background: #99417a; }
  75% { background: #932433; }
  100% { background: #ce3749; }
}

@-moz-keyframes color-fade {
   0% { background: #ce3749; }
  25% { background: #cc4153; }
  50% { background: #99417a; }
  75% { background: #932433; }
  100% { background: #ce3749; }
}

@keyframes color-fade {
   0% { background: #e84f29; }
 
  50% { background: #c46136; } 
 
  60% { background: #e84f29; }

  70% { background: #c46136; } 

  75% { background: #e84f29; }
 
  100% { background: #e84f29; }
}


/* Heart beat animation */
@keyframes counter-beat {
	to { transform: scale(0.25, 0.35);
  }
}

/*#8e1c25 d8434f */



@keyframes counterfloatalt {
  0% { top: 0px; }

  50% { top: 800px; }

  100% { top: 1000px; transform: scale(0.25); }
}


/* text-fade style */
@keyframes letter-fade {
   0% { color: #1663e0; }
  25% { color: #ffffff; }
  50% { color: #1663e0; }
  75% { color: #ffffff; }
  100% { color: #ce3749; }
}

